body
{
	background-color: #eee;
	font-family: arial, "sans serif";
}

#add, #remove
{
	margin-top: 1em;
	width: 16em;
	padding: 0.25em;
	border-radius: 1em;
	background-color: #ccc;
}

#remove
{
	margin-top: 0;
	color: darkred;
	display: none;
}

button:focus
{
	outline:0;
}

#currentDomainLabel
{
	margin-top: 0.5em;
	font-weight: bold;
}

#optionsLink
{
	font-size: x-small;
	float: right;
}